// $primary-color:#efefef;
// $font-style:'Roboto', sans-serif;

// @mixin overlay($width,$height) {
//     width:$width;
//     height: $height;
// }

// .abc{
//     color:#fff; 
// }

// ul{
//     margin: 0;
//     @extend .abc;
//     li{
//         padding: 0;
//         font-family: $font-style;
//         a{
//             text-decoration: none !Important;
//             @include overlay(300px, 100px );
//         }
//     }
// }

#header-outer{
    margin-top: 3vh;
    height: 12vh;

    .navbar{
        height: 12vh;

    }
}